*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ref-bg1{
    background: #002147;
    color: white;
    padding: 1rem;
    border-radius: 10px 0px 0px 10px;
}
.ref-bg2{
    background: #C8C8C8;
    border-radius: 0px 10px 10px 0px;
}
.ref-setup{
    background: #001B45;
    border-radius: 40px 0px 0px 40px;
    color: white;
    margin-top: 16px;
}
.ref-withdraw{
    background: #505379;
    border-radius: 0px 40px 40px 0px;
    color: white;
    margin-top: 16px;
}
.ref-payout{
    font-size: 12px;
    padding-bottom: 15px;
}
.ref-acct{
    color: white;
}
.ref-acct:hover{
    color: white;
    text-decoration: none;
}
.ref-pay{
    font-size: 15px !important;
}
.progress{
    width: 42%;
}
.progress-bar{
    width: 30%;
    background: #002147;
}
.ref-tab{
    padding: 15px;
    font-size: 23px;
}
.table td{
    padding: 15px;
}
.table{
    border-collapse: collapse;
    width: 100%;
}
.ref-table{
    border: 2px solid black;
    border-radius: 10px;
}
.app{
    background: lightgreen;
    color: green;
}
.fail{
    background: rgb(247, 109, 132);
    color: red;
}
.ref-img{
    width: 100%;
    padding-top: 50px;
}


/* REPONSIVENESS */

 @media (min-width: 0px) and (max-width: 480px) {
    .ref-img{
        width: 100%;
    } 
    .ref-acct{
        font-size: 12px;
        text-align: left;
    }
    .ref-payout{
        font-size: 10px;
        text-align: left;
        padding-bottom: 0px;
    }
    h2{
        font-size: 20px;
    }
    .ref-bg2{
        height: 27vh;
    }
    .ref-pay{
        font-size: small !important;
    }
    .progress{
        width: 100%;
    }
    .progress-bar{
        width: 50%;
        background: #002147;
    }
    .ref{
        height: 170px;
    }
} 
 @media (min-width: 481px) and (max-width: 768px) {
    .ref-img{
        width: 100%;
    }
    .ref-acct{
        font-size: 12px;
        text-align: left;
    }
    .ref-payout{
        font-size: 10px;
        text-align: left;
        padding-bottom: 0px;
    }
    h2{
        font-size: 20px;
    }
    .ref-bg2{
        height: 25vh;
    }
    .ref-pay{
        font-size: small !important;
    }
    .progress{
        width: 100%;
    }
    .progress-bar{
        width: 50%;
        background: #002147;
    }
}  
@media (min-width: 768px) and (max-width: 991px) {
    .ref-img{
        width: 200%;
    }
    .ref-bg2{
        height: 200px;
    }
}